__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
.tox/
.coverage
.coverage.*
.cache
.git
.gitignore
.dockerignore
.idea/
.vscode/
*.swp
*.swo
.env
*.sqlite3
db.sqlite3
staticfiles/
